<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Wxapp.mapper.CaseContentMapper">

    <insert id="insertCaseContent" parameterType="CaseContent">
        insert into CaseContent values(#{OpenId},#{CaseId},#{AppliancesType},#{CaseDescription},#{MaintenanceTime},#{Price},
        #{PublishTime},#{MaintenanceCompany})
    </insert>

    <select id="selectAll" resultType="CaseContent">
        select* from CaseContent
    </select>

    <select id="selectByAppliancesType" resultType="CaseContent">
        select* from CaseContent where AppliancesType like '%${appliancesType}%'
    </select>
</mapper>