<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Wxapp.mapper.CommunityLikeMapper">

    <insert id="insertCommunityLike" parameterType="CommunityLike">
        insert into CommunityLike values(#{CommunityId},#{LikeWxName},#{LikeHeadPortrait},#{LikeDate})
    </insert>

    <select id="selectByCommunityId" resultType="CommunityLike">
        select* from CommunityLike where CommunityId={communityId}
    </select>
</mapper>