<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Wxapp.mapper.CommunityContentMapper">

    <insert id="insertCommunityContent" parameterType="CommunityContent">
        insert into CommunityContent values(#{OpenId},#{CommunityId},#{CommunityKind},#{CommunityDescription},#{PublishData},
        #{CommentNumber},#{LikeNumber})
    </insert>

    <select id="selectByKindADescription" resultType="CommunityContent">
        select* from CommunityContent
        where CommunityKind like '%${communityKind}}%' and charindex(ltrim(rtrim(#{searchContent})),CommunityDescription)>0
        order by PublishDate desc
    </select>

    <select id="updateCommentNumber" parameterType="CommunityContent">
        update CommunityContent set CommentNumber=CommentNumber+1 where CommunityId=#{communityId}
    </select>

    <select id="updateLikeNumber" parameterType="CommunityContent">
        update CommunityContent set LikeNumber=LikeNumber+1 where CommunityId=#{communityId}
    </select>

    <select id="selectBycommunityId" resultType="CommunityContent">
        select* from CommunityContent where CommunityId=#{communityId}
    </select>

</mapper>