<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Wxapp.mapper.UserPortraitMapper">

    <insert id="insertUserPortrait" parameterType="UserPortrait">
        insert into UserPortrait values(#{OpenId},#{Status},#{GolCoin},#{Maintain},#{MaintainDate},#{MaintainContent},#{MaintainNumber})
    </insert>

    <update id="updateMaintain" parameterType="UserPortrait">
        update UserPortrait set Maintain=#{Maintain},MaintainDate=#{MaintainDate},#{MaintainContent},#{MaintainNumber} where OpenId=#{OpenId}
    </update>

    <select id="selectByOpenid" resultType="UserPortrait">
        select* from UserPortrait where OpenId=#{OpenId}
    </select>

    <update id="upadteStatus" parameterType="UserPortrait">
        update UserPortrait set Status=#{Status} where OpenId=#{OpenId}
    </update>




</mapper>